.art-gallery {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  align-items: center;

  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */

  padding-top: 1rem;
}

/* Buttons settings */
.btn-category {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  justify-content: center;
  align-items: center;

  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */

  overflow: hidden;

  height: 25rem;
  min-width: 100%;
}

.btn-category > * {
  min-height: 33%;
  width: 100%;

  cursor: pointer;
  border: none;

  color: black;
  letter-spacing: 2px;
  font-size: 5vh;
  font-family: 'Lora', serif;
  
  text-transform: uppercase;
  text-shadow: 1px 1px 0 white;
  
  background: url("../assets/icons/vympyIllustrations.jpg") 0 -200px no-repeat;
  
  transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    /* Safari, Chrome, iOS, Android */
    -moz-transition: all 250ms ease-in-out;
    /* Forefox */
    -o-transition: all 250ms ease-in-out;
    /* Opera */
}

.btn-category > button:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: url("../assets/icons/vympyArtworks.jpg") 0 -200px no-repeat;
}

.btn-category > button:nth-child(3) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background: url("../assets/icons/vympyAnimations.jpg") 0 -200px no-repeat;
}

.btn-category > *:hover,
.btn-category > *:focus {
  min-height: 75%
}

.btn-category > button:nth-child(1):hover,
.btn-category > button:nth-child(1):focus {
  transform: translateY(20%);
}

.btn-category > button:nth-child(3):hover,
.btn-category > button:nth-child(3):focus {
  transform: translateY(-20%);
}

/* PopUpImg settings */
.show-pop-image {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.753);
}

.hide-pop-image {
  display: none;
}

.show-pop-image img {
  height: 95vh;
  margin: 0 auto;
  image-rendering: crisp-edges;

  animation: imgScale .7s ease forwards;
    -webkit-animation: imgScale .7s ease forwards;
    /* Safari, Chrome, iOS, Android */
    -moz-animation: imgScale .7s ease forwards;
    /* Firefox */
}

img.clicked:hover,
img.clicked:focus {
  opacity: 1;

  transition: all .0001s linear;
    -webkit-transition: all .0001s linear;
    /* Chrome. Safari, iOS, Android */
    -moz-transition: all .0001s linear;
    /* Firefox */
    -o-transition: all .0001s linear;
    /* Opera */
}

.icons-container {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  align-items: center;
  gap: .3rem;

  position: absolute;
  bottom: 3%;

  color: #000;
}

.icons-container > * {
  font-size: 2rem;
  cursor: pointer;
  

  animation: iconsShow .9s linear;
    -webkit-animation: iconsShow .9s linear;
    /* Safari, Chrome, iOS, Android */
    -moz-animation: iconsShow .9s linear;
    /* Firefox */
}

.icons-container > *:hover,
.icons-container > *:focus {
  opacity: .6;
}

.icons-container .cross {
  font-size: 1.8rem;
}

.notification h1 {
  margin: 1rem 0;
}

/* Animations */
@keyframes imgScale {
  0% {
    opacity: 0;

    transform: scale(0);
      -webkit-transform: scale(0);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: scale(0);
      /* Firefox */
  }

  100% {
    opacity: 1;

    transform: scale(1);
      -webkit-transform: scale(1);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: scale(1);
      /* Firefox */
  }
}

@keyframes iconsShow {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Other screen sizes */
@media screen and (max-width: 1200px) {
  .show-pop-image img {
    height: 80%;
  }

  .icons-container {
    bottom: 10.5%;
  }
}

@media screen and (max-width: 1000px) {
  .show-pop-image img {
    height: 60%;
  }

  .icons-container {
    bottom: 20.5%;
  }

  .btn-category > * {
    min-height: 36%;
  }

  .btn-category > *:hover,
  .btn-category > *:focus {
    min-height: 45%
  }

  .btn-category > button:nth-child(1):hover,
  .btn-category > button:nth-child(1):focus {
    transform: translateY(20%);
  }

  .btn-category > button:nth-child(3):hover,
  .btn-category > button:nth-child(3):focus {
    transform: translateY(-20%);
  }
}

@media screen and (max-width: 655px) {
  .btn-category > * {
    font-size: 3.5vh;
  }

  .btn-category > * {
    min-height: 24%;
  }

  .btn-category > *:hover,
  .btn-category > *:focus {
    min-height: 37%
  }

  .btn-category > button:nth-child(1):hover,
  .btn-category > button:nth-child(1):focus {
    transform: translateY(20%);
  }

  .btn-category > button:nth-child(3):hover,
  .btn-category > button:nth-child(3):focus {
    transform: translateY(-20%);
  }
}

@media screen and (max-width: 600px) {
  .show-pop-image img {
    height: 50%;
  }

  .icons-container {
    bottom: 25.5%;
  }
}

@media screen and (max-width: 550px) {
  .show-pop-image img {
    height: 40%;
  }

  .icons-container {
    bottom: 30.5%;
  }
}

@media screen and (max-width: 455px) {
  .btn-category > * {
    font-size: 3vh;
  }

  .btn-category > * {
    min-height: 25%;
}

  .btn-category > *:hover,
  .btn-category > *:focus {
    min-height: 30%
  }

  .btn-category > button:nth-child(1):hover,
  .btn-category > button:nth-child(1):focus {
    transform: translateY(10%);
  }

  .btn-category > button:nth-child(3):hover,
  .btn-category > button:nth-child(3):focus {
    transform: translateY(-10%);
  }
}

@media screen and (max-width: 390px) {
  .show-pop-image img {
    height: 30%;
  }

  .icons-container {
    bottom: 35.5%;
  }
}