.artworks {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  justify-content: center;
  align-items: center;

  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */
}

.artworks h3 {
  margin: 1rem 0;
}

/* Videos */
.one-video-artwork video {
  max-width: 100%;
  height: auto;
}

.video-artworks {
  padding: 0 1rem;

  columns: 4;
    -webkit-columns: 4;
    /* Safari. iOS, Android */
    -moz-columns: 4;
    /* FireFox */
    column-gap: .5rem;
}

/* Images */
.image-artworks {
  position: relative;
  padding: 0 1rem;

  columns: 6;
    -webkit-columns: 6;
    /* Safari. iOS, Android */
    -moz-columns: 6;
    /* FireFox */
  column-gap: 1rem;
}

.one-image-artwork img {
  max-width: 100%;
  height: auto;

  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--shadows);
    -webkit-box-shadow: 0 0 3px var(--shadows);
    /* Chrome. Safari, iOS, Android */
    -moz-box-shadow: 0 0 3px var(--shadows);
    /* Firefox */

  transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    /* Chrome. Safari, iOS, Android */
    -moz-transition: all .2s ease-in-out;
    /* Firefox */
    -o-transition: all .2s ease-in-out;
    /* Opera */
}

.one-image-artwork img:hover {
  cursor: pointer;
  opacity: .4;
}

/* Other screen sizes */
@media screen and (max-width: 1250px) {
  .video-artworks {
    text-align: center;

    columns: 2;
      -webkit-columns: 2;
      /* Safari. iOS, Android */
      -moz-columns: 2;
      /* FireFox */
  }

  .image-artworks {
    columns: 5;
      -webkit-columns: 5;
      /* Safari. iOS, Android */
      -moz-columns: 5;
      /* FireFox */
  }
}

@media screen and (max-width: 1100px) {
  .video-artworks {
    columns: 2;
      -webkit-columns: 2;
      /* Safari. iOS, Android */
      -moz-columns: 2;
      /* FireFox */
  }

  .image-artworks {
    columns: 4;
      -webkit-columns: 4;
      /* Safari. iOS, Android */
      -moz-columns: 4;
      /* FireFox */
  }
}

@media screen and (max-width: 800px) {
  .image-artworks {
    columns: 3;
      -webkit-columns: 3;
      /* Safari. iOS, Android */
      -moz-columns: 3;
      /* FireFox */
  }
}

@media screen and (max-width: 615px) {
  .video-artworks {
    columns: 1;
      -webkit-columns: 1;
      /* Safari. iOS, Android */
      -moz-columns: 1;
      /* FireFox */
  }

  .image-artworks {
    columns: 2;
      -webkit-columns: 2;
      /* Safari. iOS, Android */
      -moz-columns: 2;
      /* FireFox */
  }
}

@media screen and (max-width: 400px) {
  .image-artworks {
    columns: 1;
      -webkit-columns: 1;
      /* Safari. iOS, Android */
      -moz-columns: 1;
      /* FireFox */
  }
}