.animations {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  justify-content: center;
  align-items: center;

  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */
}

.animations h3 {
  margin: 1rem 0;
}

/* Videos */
.one-video-animation video {
  max-width: 100%;
  height: auto;
}

.video-animations {
  padding: 0 1rem;

  columns: 4;
    -webkit-columns: 4;
    /* Safari. iOS, Android */
    -moz-columns: 4;
    /* FireFox */
  column-gap: .5rem;
}

/* Images */
.image-animations {
  padding: 0 1rem;

  columns: 4;
    -webkit-columns: 4;
    /* Safari. iOS, Android */
    -moz-columns: 4;
    /* FireFox */
  column-gap: .5rem;
}

.one-image-animation {
  max-width: 300px;
  height: 200px;
  
  margin-bottom: .5rem;
  overflow: hidden;
  border: 3px solid var(--borders);
}

.one-image-animation img {
  max-width: 300px;
  height: auto;

  cursor: pointer;

  transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    /* Chrome. Safari, iOS, Android */
    -moz-transition: all 100ms ease-in-out;
    /* Firefox */
    -o-transition: all 100ms ease-in-out;
    /* Opera */
}

.one-image-animation img:hover {
  transform: scale(1.15);
}

/* Other screen sizes */
@media screen and (max-width: 1250px) {
  .video-animations {
    text-align: center;
    columns: 2;
      -webkit-columns: 2;
      /* Safari. iOS, Android */
      -moz-columns: 2;
      /* FireFox */
  }

  .image-animations {
    columns: 3;
      -webkit-columns: 3;
      /* Safari. iOS, Android */
      -moz-columns: 3;
      /* FireFox */
  }
}

@media screen and (max-width: 1000px) {
  .video-animations {
    columns: 2;
      -webkit-columns: 2;
      /* Safari. iOS, Android */
      -moz-columns: 2;
      /* FireFox */
  }

  .image-animations {
    columns: 2;
      -webkit-columns: 2;
      /* Safari. iOS, Android */
      -moz-columns: 2;
      /* FireFox */
  }
}

@media screen and (max-width: 620px) {
  .video-animations {
    columns: 1;
      -webkit-columns: 1;
      /* Safari. iOS, Android */
      -moz-columns: 1;
      /* FireFox */
  }

  .image-animations {
    columns: 1;
      -webkit-columns: 1;
      /* Safari. iOS, Android */
      -moz-columns: 1;
      /* FireFox */
  }
}