.art-gallery {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  align-items: center;

  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */

  padding-top: 1rem;
}

/* Buttons settings */
.btn-category {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  justify-content: center;
  align-items: center;

  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */

  overflow: hidden;

  height: 25rem;
  min-width: 100%;
}

.btn-category > * {
  min-height: 33%;
  width: 100%;

  cursor: pointer;
  border: none;

  color: black;
  letter-spacing: 2px;
  font-size: 5vh;
  font-family: 'Lora', serif;
  
  text-transform: uppercase;
  text-shadow: 1px 1px 0 white;
  
  background: url("../assets/icons/vympyIllustrations.jpg") 0 -200px no-repeat;
  
  transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    /* Safari, Chrome, iOS, Android */
    -moz-transition: all 250ms ease-in-out;
    /* Forefox */
    -o-transition: all 250ms ease-in-out;
    /* Opera */
}

.btn-category > button:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: url("../assets/icons/vympyArtworks.jpg") 0 -200px no-repeat;
}

.btn-category > button:nth-child(3) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background: url("../assets/icons/vympyAnimations.jpg") 0 -200px no-repeat;
}

.btn-category > *:hover {
  min-height: 65%
}

.btn-category > button:nth-child(1):hover {
  transform: translateY(23%);
    -webkit-transform: translateY(23%);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: translateY(23%);
      /* Firefox */
}

.btn-category > button:nth-child(3):hover {
  transform: translateY(-23%);
    -webkit-transform: translateY(-23%);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: translateY(-23%);
      /* Firefox */
}

/* PopUpImg settings */
.show-pop-image {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.753);
}

.hide-pop-image {
  display: none;
}

.show-pop-image img {
  max-height: 100%;
  /* max-width: 100%; */
  margin: 0 auto;
  image-rendering: crisp-edges;

  animation: imgScale .7s ease forwards;
    -webkit-animation: imgScale .7s ease forwards;
    /* Safari, Chrome, iOS, Android */
    -moz-animation: imgScale .7s ease forwards;
    /* Firefox */
}

img.clicked:hover {
  opacity: 1;

  transition: all .0001s linear;
    -webkit-transition: all .0001s linear;
    /* Chrome. Safari, iOS, Android */
    -moz-transition: all .0001s linear;
    /* Firefox */
    -o-transition: all .0001s linear;
    /* Opera */
}

.icons-container {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  align-items: center;
  gap: .3rem;

  position: absolute;
  bottom: .8%;

  color: #000;
}

.icons-container > * {
  font-size: 2rem;
  cursor: pointer;

  animation: iconsShow .9s linear;
    -webkit-animation: iconsShow .9s linear;
    /* Safari, Chrome, iOS, Android */
    -moz-animation: iconsShow .9s linear;
    /* Firefox */
}

.icons-container > *:hover {
  opacity: .6;
}

.icons-container .cross {
  font-size: 1.8rem;
}

.notification h1 {
  margin: 1rem 0;
}

/* Btn active when clicked */
.active-top-btn {
  min-height: 65%;
  transform: translateY(23%);
    -webkit-transform: translateY(23%);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: translateY(23%);
      /* Firefox */
}

.active-mid-btn {
  min-height: 65%;
}

.active-bot-btn {
  min-height: 65%;
  transform: translateY(-23%);
    -webkit-transform: translateY(-23%);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: translateY(-23%);
      /* Firefox */
}

/* Animations */
@keyframes imgScale {
  0% {
    opacity: 0;

    transform: scale(0);
      -webkit-transform: scale(0);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: scale(0);
      /* Firefox */
  }

  100% {
    opacity: 1;

    transform: scale(1);
      -webkit-transform: scale(1);
      /* Safari, Chrome, iOS, Android */
      -moz-transform: scale(1);
      /* Firefox */
  }
}

@keyframes iconsShow {
  0% {
    opacity: 0;
    transform: translateY(100px);
      -webkit-transform: translateY(100px);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(100px);
        /* Firefox */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
      -webkit-transform: translateY(0);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(0);
        /* Firefox */
  }
}

/* Other screen sizes */
@media screen and (max-width: 1000px) {
  .btn-category > * {
    min-height: 36%;
  }

  .btn-category > *:hover {
    min-height: 50%
  }

  .btn-category > button:nth-child(1):hover {
    transform: translateY(20%);
      -webkit-transform: translateY(20%);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(20%);
        /* Firefox */
  }

  .btn-category > button:nth-child(3):hover {
    transform: translateY(-20%);
      -webkit-transform: translateY(-20%);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(-20%);
        /* Firefox */
  }

  /* Btn active when clicked */
  .active-top-btn {
    min-height: 50%;
  }

  .active-mid-btn {
    min-height: 50%;
  }

  .active-bot-btn {
    min-height: 50%;
  }
}

@media screen and (max-width: 655px) {
  .btn-category > * {
    font-size: 3.5vh;
  }

  .btn-category > * {
    min-height: 24%;
  }

  .btn-category > *:hover {
    min-height: 40%
  }

  .btn-category > button:nth-child(1):hover {
    transform: translateY(20%);
      -webkit-transform: translateY(20%);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(20%);
        /* Firefox */
  }

  .btn-category > button:nth-child(3):hover {
    transform: translateY(-20%);
      -webkit-transform: translateY(-20%);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(-20%);
        /* Firefox */
  }

  /* Btn active when clicked */
  .active-top-btn {
    min-height: 40%;
  }

  .active-mid-btn {
    min-height: 40%;
  }

  .active-bot-btn {
    min-height: 40%;
  }
}

@media screen and (max-width: 455px) {
  .btn-category > * {
    font-size: 3vh;
  }

  .btn-category > * {
    min-height: 25%;
}

  .btn-category > *:hover {
    min-height: 35%
  }

  .btn-category > button:nth-child(1):hover {
    transform: translateY(10%);
      -webkit-transform: translateY(10%);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(10%);
        /* Firefox */
  }

  .btn-category > button:nth-child(3):hover {
    transform: translateY(-10%);
      -webkit-transform: translateY(-10%);
        /* Safari, Chrome, iOS, Android */
        -moz-transform: translateY(-10%);
        /* Firefox */
  }

  /* Btn active when clicked */
  .active-top-btn {
    min-height: 35%;
  }

  .active-mid-btn {
    min-height: 35%;
  }

  .active-bot-btn {
    min-height: 35%;
  }
}