nav {
  margin-top: 3rem;
}

nav ul {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  gap: 3rem;

  list-style: none;
}

nav ul button {
  display: block;

  min-width: 7rem;
  height: 2rem;

  padding: 0 .5rem;
  
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 .7px var(--shadows);

  font-size: .8rem;
  line-height: 1.7rem;
  color: var(--font-body);
  
  background-color: var(--background-body);
  border: 2px solid var(--borders);
  border-radius: 5px;
}

nav ul button:hover {
  color: var(--background-body);
  cursor: pointer;

  background-color: var(--font-body);
  border: 2px solid var(--shadows);
}

/* Other screen sizes */
@media screen and (max-width: 500px){
  nav ul {
  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */
    gap: 1rem;
  }
}