header {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  justify-content: center;
  align-items: center;
  flex-direction: column;
    -webkit-flex-direction: column;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: column;
    /* IE 10 */
    -moz-flex-direction: column;
    /* Firefox */
  min-height: 100vh;
  text-align: center;
}

.penguin-logo img {
  max-width: clamp(18rem, 40%, 60%);
  height: auto;
}

.the-artist-name {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: clamp(.9rem, 2vw, 1.6rem);
  border-bottom: 1px solid var(--font-body);
  border-top: 1px solid var(--font-body);
  padding: .3rem;
  text-shadow: 0 0 1px var(--font-body);
  color: var(--font-body);
}

.social-icons {
  display: flex;
    display: -webkit-box;
    /* Safari, Chrome, iOS, Android */
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE 10 */
    display: -webkit-flex;
    /* Opera */
  flex-direction: row;
    -webkit-flex-direction: row;
    /* Safari, Chrome, iOS, Android */
    -ms-flex-direction: row;
    /* IE 10 */
    -moz-flex-direction: row;
    /* Firefox */
  gap: 2rem;
}

.one-icon img {
  max-width: 63%;
  height: auto;
  transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    /* Safari, Chrome, iOS, Android */
    -moz-transition: all .2s ease-in-out;
    /* Forefox */
    -o-transition: all .2s ease-in-out;
    /* Opera */
}

.one-icon img:hover {
  cursor: pointer;
  transform: scale(1.1);
    -webkit-transform: scale(1.1);
    /* Safari, Chrome, iOS, Android */
    -moz-transform: scale(1.1);
    /* Forefox */
}

@media screen and (max-width: 720px) {
  .social-icons {
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .social-icons {
    gap: .5rem;
  }
}

@media screen and (max-width: 500px) {
  .social-icons {
    gap: .01rem;
  }
}
