.theme-btns {
  margin-top: 1rem;
}

.theme-btns button {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.sun-icon,
.moon-icon {
  display: block;
  position: absolute;

  height: 3rem;
  width: 3rem;

  color: var(--theme-icon);

  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /* Safari, Chrome, iOS, Android */
    -ms-transform: translate(-50%, -50%);
    /* IE 10 */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */
    -o-transform: translate(-50%, -50%);
    /* Opera */
}

.hide-btn {
  opacity: 0;
  pointer-events: none;
}
